In [9]:
import csv

def main():
    f=open('2022_Seoul_Temp.csv',encoding='cp949')
    data=csv.reader(f)
    Header=next(data)

    sum=[0,0,0]
    count=[0,0,0]

    for row in data:
        if (row[-1]!='')&(row[-2]!='')&(row[-3]!=''):
            for i in range(2,5):
                    count[i-2]=count[i-2]+1
                    sum[i-2]=sum[i-2]+float(row[i])

    print("*** Annual Temperature Report for Seoul in 2022 ***\n")
    print("Average Temperature: {0:2.2f} Celsius\n".format(sum[0]/count[0]))
    print("Average Minimum Temperature: {0:2.2f} Celsius\n".format(sum[1]/count[1]))
    print("Average Maximum Temperature: {0:2.2f} Celsius\n".format(sum[2]/count[2]))

if __name__ == '__main__':
    main()

*** Annual Temperature Report for Seoul in 2022 ***

Average Temperature: 13.26 Celsius

Average Minimum Temperature: 9.21 Celsius

Average Maximum Temperature: 18.05 Celsius